.grid-section.vegetarianism-intro {
  padding: 10px;
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: 90px 300px 1fr;
}
.vegetarianism-intro {
  grid-column: 3;
}
.vegetarianism-body h2 {
  font-size: 1.8rem;
}
.vegetarianism-body h2#types {
  font-size: 2rem;
  text-align: center;
}
.vegetarianism-body h2#type {
  color: #222;
  margin-top: 40px;
  font-size: 1.5rem;
}
.vegetarianism-body h2#type::before {
  content: "";
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #cfe6b1;
  display: inline-block;
}
