.mini-info {
  height: 370px;
  grid-column: 2;
  overflow-y: scroll;
}
.mini-info li img {
  max-width: 100%;
}
.mini-info::-webkit-scrollbar {
  width: 18px;
}
.mini-info::-webkit-scrollbar-thumb {
  background: #cfe6b1;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.mini-info::-webkit-scrollbar-track {
  background: #faf6ed;
}
.grid-section.vegetarianism-intro {
  padding: 10px;
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: 90px 300px 1fr;
}
.vegetarianism-intro {
  grid-column: 3;
}
.vegetarianism-body h2 {
  font-size: 1.8rem;
}
.vegetarianism-body h2#types {
  font-size: 2rem;
  text-align: center;
}
.vegetarianism-body h2#type {
  color: #222;
  margin-top: 40px;
  font-size: 1.5rem;
}
.vegetarianism-body h2#type::before {
  content: "";
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #cfe6b1;
  display: inline-block;
}
